/**********************************************************

CSS Document 2.0

x-ui / x-ui-calendar.css

**********************************************************/


/* 
 * x-ui-calendar
 */
.x-ui-calendar-wrapper
{
	clear:both;
	_float:left;
} 
.x-ui-calendar{
	border: 1px solid #ccc;
	width: 180px;
	font-size: 12px;
	position: absolute;
	background-color: #fff;
}
.x-ui-calendar div{
	/* border: 0px solid #000; */
	line-height: 150%;
}
.x-ui-calendar a {
	text-decoration: none !important;
}
.x-ui-calendar a:hover {
	text-decoration: none;
}
.x-ui-calendar-lisnter {
	width: 160px;
	background-image: url(images/date_icon.png);
	background-repeat: no-repeat;
	background-position: 140px 1px;
	*background-position: 141px 0px; /* only ie. */
}
.x-ui-calendar-lisnter-413{
	width: 413px;
	background-image: url(images/calendar_icon.png);
	background-repeat: no-repeat;
	background-position: 393px 0px;
	*background-position: 395px 0px; /* only ie. */
}
.x-ui-calendar-lisnter-300{
	width: 300px;
	background-image: url(images/calendar_icon.png);
	background-repeat: no-repeat;
	background-position: 280px 0px;
	*background-position: 282px 0px; /* only ie. */
}
.x-ui-calendar-header{
	text-align: center;
	height: 24px !important; /* 14 + 6 + 4 = 24 */
	border-bottom: 1px solid #EAEAEA;
	margin: 0 8px 0 8px;
}
.x-ui-calendar-header-day{
	float: left;
	width: 80px;
	text-align: center;
	padding: 5px 0 0 0 !important;
}
.x-ui-calendar-header-button{
	float: left;
	width: 40px;
	text-align: center;
	padding: 4px 0 0 0 !important;
}
.x-ui-calendar-days{
	border: 0px solid #eee;
	padding: 0 4px 0 4px;
}
.x-ui-calendar-day-week{
	font-weight: bold;
	float: left;
	width: 24px;
	height: 14px; /* 14 + 6 + 4 = 24 */
	padding: 6px 0 4px 0;
	text-align: center;
}
.x-ui-calendar-day{
	float: left;
	width: 24px;
	height: 24px !important; /* 14 + 6 + 4 = 24 */
	text-align: center;
}
.x-ui-calendar-day a{
	color: #000 !important;
	text-decoration: none;
	padding: 3px 0 1px 0;
	border: 1px solid #fff;
	display: block;
	font-weight: normal !important;
}
.x-ui-calendar-day a:hover{
	color: #075281 !important;
	border: 1px solid #0B98F2;
	background-color: #DBF0FD;
	font-weight: bold;
	text-decoration: none;
	font-weight: bold !important;
	padding: 3px 0 1px 0;
	*padding:2px 0 1px 0;
	_padding: 3px 0 1px 0;
}
.x-ui-calendar-today{
	float: left;
	width: 24px;
	height: 24px; /* 14 + 6 + 4 = 24 */
	text-align: center;
}
.x-ui-calendar-today a{
	color: #f00 !important;
	background-color: #ffecec;
	border: 1px solid #f00;
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding: 3px 0 1px 0;
	*padding:2px 0 1px 0;
	_padding: 3px 0 1px 0;
}
.x-ui-calendar-footer{
	text-align: center;
	height: 14px; /* 14 + 6 + 4 = 24 */
	border-top: 1px solid #EAEAEA;
	padding: 4px 0px 6px 0px;
	margin: 4px 8px 0 8px;
}
.x-ui-calendar-footer a{
	color: #000;
	text-decoration: none;
}
.x-ui-calendar-footer a:hover{
	color: #f00;
	text-decoration: underline;
}
.x-ui-calendar-hidden {
	display: none;
	position: absolute;
}
.x-ui-calendar-button-close {
	float: right;
	padding: 2px 0 0 0;
}
.x-ui-calendar-clear {
    clear:both;
}